{% extends "base/admin.html.twig" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Create a user
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/user">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Create user
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">

            <form role="form" method="POST" action="/user/add" onsubmit="event.preventDefault(); validateForm();">

                <div id="error" class="btn btn-danger" style="display:none;"></div>
                <div id="success" class="btn btn-success" style="display:none;"></div>

                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" placeholder="Last name..."  id="lastname" name="lastname">
                </div>

                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" placeholder="First name..."  id="firstname" name="firstname">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-email form-control" placeholder="Email..."  id="email" name="email">
                </div>

                <div class="form-group">
                    <label for="role">Role (Take care when assigning a role)</label>
                    <select class="form-control" name="role" id="role">
                        <option value="ROLE_USER">ROLE_USER</option>
                        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                    </select>
                </div>

                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">

                <input type="submit" class="btn btn-primary" value="Create user">

            </form>

        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function validateForm() {

            var email               = document.getElementById('email').value;
            var lastname            = document.getElementById('lastname').value;
            var firstname           = document.getElementById('firstname').value;

            var _role               = document.getElementById('role');
            var role                = _role.options[_role.selectedIndex].value;

            var csrfToken               = document.getElementById('csrf_token').value;

            //Regular expression for email testing
            var reg = new RegExp('^[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*@[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*[\.]{1}[a-z]{2,6}$', 'i');

            if ((email.length === 0) || (!reg.test(email))) {
                triggerError('error', "Email syntax is valid, or email is empty !");
            } else if ((lastname.length === 0) || (firstname.length === 0)) {
                triggerError('error', "Lastname or firstname can't be empty !");
            } else if ((lastname.length < 3) || (firstname.length < 3)) {
                triggerError('error', "Lastname or firstname must contain at least 3 characters !");
            } else {
                //Then we submit the form
                var params = new FormData();
                params.append('lastname', lastname);
                params.append('firstname', firstname);
                params.append('role', role);
                params.append('email', email);
                params.append('csrf_token', csrfToken);


                send('POST', '/user/add', params);
            }
        }
    </script>


{% endblock %}
