{% extends "base/admin.html.twig" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ session.user.getLastName }} {{ session.user.getFirstName }} Profile
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/user">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Profile
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">

            <form role="form" method="POST" action="/user/update" onsubmit="event.preventDefault(); validateForm();">

                <div id="error" class="btn btn-danger" style="display:none;"></div>
                <div id="success" class="btn btn-success" style="display:none;"></div>

                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" value="{{ user.getLastName }}"  id="lastname" name="lastname">
                </div>

                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" value="{{ user.getFirstName }}"  id="firstname" name="firstname">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-email form-control" value="{{ user.getEmail }}"  id="email" name="email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" value=""  id="password" name="password">
                </div>

                {% if user.getRole == 'ROLE_ADMIN' %}
                <div class="form-group">
                    <label for="role">Role (Please be careful, if you change your own role, you won't be able to access the site as admin again !)</label>
                    <select class="form-control" name="role" id="role">
                        <option value="ROLE_USER" {{ (user.getRole == 'ROLE_USER') ? 'selected' : '' }}>ROLE_USER</option>
                        <option value="ROLE_ADMIN" {{ (user.getRole == 'ROLE_ADMIN') ? 'selected' : '' }} >ROLE_ADMIN</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="email_access_granted" id="email_access_granted" {{ (user.getEmailAccessGranted == '1') ? 'checked' : '' }}>Email access granted
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="git_repository_granted" id="git_repository_granted" {{ (user.getGitRepositoryGranted == '1') ? 'checked' : '' }}>Git repository granted
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="microsoft_office_license" id="microsoft_office_license" {{ (user.getMicrosoftOfficeLicense == '1') ? 'checked' : '' }}>Microsoft office license
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="trello_access_granted" id="trello_access_granted" {{ (user.getTrelloAccessGranted == '1') ? 'checked' : '' }}>Trello access granted
                        </label>
                    </div>
                </div>
                {% endif %}

                <input type="hidden" id="id" name="id" value="{{ user.getId }}">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">

                <input type="submit" class="btn btn-primary" value="Edit Profile">

            </form>

        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function validateForm() {

            var id                  = document.getElementById('id').value;
            var email               = document.getElementById('email').value;
            var lastname            = document.getElementById('lastname').value;
            var firstname           = document.getElementById('firstname').value;

            var _role               = document.getElementById('role');
            var role                = (_role != null) ? _role.options[_role.selectedIndex].value : '';

            var password            = document.getElementById('password').value;

            var emailAccessGrantedDiv      = document.getElementById('email_access_granted');
            var gitRepositoryGrantedDiv    = document.getElementById('git_repository_granted');
            var microsoftOfficeLicenseDiv  = document.getElementById('microsoft_office_license');
            var trelloAccessGrantedDiv     = document.getElementById('trello_access_granted');

            var emailAccessGranted      = ((emailAccessGrantedDiv != null) && document.getElementById('email_access_granted').checked) ? 'on' : '0';
            var gitRepositoryGranted    = ((gitRepositoryGrantedDiv != null) && document.getElementById('git_repository_granted').checked) ? 'on' : '0';
            var microsoftOfficeLicense  = ((microsoftOfficeLicenseDiv != null) && document.getElementById('microsoft_office_license').checked) ? 'on' : '0';
            var trelloAccessGranted     = ((trelloAccessGrantedDiv != null) && document.getElementById('trello_access_granted').checked) ? 'on' : '0';

            var csrfToken               = document.getElementById('csrf_token').value;

            //Regular expression for email testing
            var reg = new RegExp('^[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*@[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*[\.]{1}[a-z]{2,6}$', 'i');

            if ((email.length === 0) || (!reg.test(email))) {
                triggerError('error', "Email syntax is valid, or email is empty !");
            } else if ((lastname.length === 0) || (firstname.length === 0)) {
                triggerError('error', "Lastname or firstname can't be empty !");
            } else if ((lastname.length < 3) || (firstname.length < 3)) {
                triggerError('error', "Lastname or firstname must contain at least 3 characters !");
            } else if (password.length > 0 && password.length < 3) {
                triggerError('error', "Password must contains at least 3 characters !");
            } else {
                //Then we submit the form
                var params = new FormData();
                params.append('id', id);
                params.append('lastname', lastname);
                params.append('firstname', firstname);
                params.append('email_access_granted', emailAccessGranted);
                params.append('git_repository_granted', gitRepositoryGranted);
                params.append('microsoft_office_license', microsoftOfficeLicense);
                params.append('trello_access_granted', trelloAccessGranted);
                params.append('role', role);
                params.append('email', email);
                params.append('password', password);
                params.append('csrf_token', csrfToken);


                send('POST', '/user/update', params);
            }
        }
    </script>


{% endblock %}
