{% extends "base/admin.html.twig" %}

{% block css %}
    {{ parent() }}
    <!-- Morris Charts CSS -->
    <link href="/assets/admin/css/plugins/morris.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome on Blexr, {{ session.user.getFirstName }} {{ session.user.getLastName }}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a href="/user">Home</a>
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Morris Charts JavaScript -->
    <script src="/assets/admin/js/plugins/morris/raphael.min.js"></script>
    <script src="/assets/admin/js/plugins/morris/morris.min.js"></script>
    <script src="/assets/admin/js/plugins/morris/morris-data.js"></script>
{% endblock %}
