{% extends "base/admin.html.twig" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                List of all users
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/user">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Users list
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">

                <div id="error" class="btn btn-danger" style="display:none;"></div>
                <div id="success" class="btn btn-success" style="display:none;"></div>

                {% if total > 0 %}
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Last name</th>
                                <th>First name</th>
                                <th>Email</th>
                                <th>Created at</th>
                                <th>Role</th>
                                <th>Email access granted</th>
                                <th>Edit profile</th>
                                <th>Send invitation email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.createdAt | date('Y-m-d H:i:s') }}</td>
                                    <td>{{ user.role }}</td>
                                    <td align="center"><input type="checkbox" {{ (user.emailAccessGranted == '1') ? 'checked' : 'disabled' }}></td>
                                    <td align="center"><a href="/user/edit/{{ user.id }}" class="btn btn-primary" >Edit</a></td>
                                    <td align="center">
                                        {% if user.emailAccessGranted == '1' %}
                                        {% else %}
                                            <a class="btn btn-primary" onclick="sendMailForm({{ user.id }});" >Send</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No town currently registered.
                {% endif %}

            </div>

            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">

            <div class="table-responsive">
                {{ paginator | raw }}
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function sendMailForm(id) {

            var csrfToken           = document.getElementById('csrf_token').value;

            //Then we submit the form
            var params = new FormData();
            params.append('id', id);
            params.append('csrf_token', csrfToken);

            send('POST', '/user/send/mail', params);
        }
    </script>


{% endblock %}
