{% extends "base/base.html.twig" %}

{% block content %}
<div class="inner-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1><strong>Blexr</strong> Employee management</h1>
                <div class="description">
                    <p>
                        YOU ARE NOT AUTHORIZED TO ACCESS THIS PAGE !!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function validateForm() {

            var email       = document.getElementById('email').value;
            var password    = document.getElementById('password').value;
            var csrfToken    = document.getElementById('csrf_token').value;

            //detect if user_token parameter has been given
            var user_token = getUrlVars()["user_token"];

            //Regular expression for email testing
            var reg = new RegExp('^[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*@[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*[\.]{1}[a-z]{2,6}$', 'i');

            if ((email.length === 0) || (password.length === 0)) {
                triggerError('error', "Email or password can't be empty !");
            } else if (!reg.test(email)) {
                triggerError('error', "Email syntax is not valid !");
            } else if (password.length < 3) {
                triggerError('error', "Password must contains at least 3 characters !");
            } else {
                //Then we submit the form
                var params = new FormData();
                params.append('email', email);
                params.append('password', password);
                params.append('csrf_token', csrfToken);

                //If user_token is defined and send it to login Controller
                if (typeof user_token !== 'undefined') {
                    params.append('user_token', user_token);
                } else {
                    //Otherwhise send empty value
                    params.append('user_token', '');
                }

                send('POST', '/login', params);
            }
        }
    </script>


{% endblock %}