{% extends "base/admin.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Create a work-at-home booking
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/user">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> work-at-home request
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">

            <form role="form" method="POST" action="/booking/add" onsubmit="event.preventDefault(); validateForm();">

                <div id="error" class="btn btn-danger" style="display:none;"></div>
                <div id="success" class="btn btn-success" style="display:none;"></div>

                {% if total > 0 %}
                    <div class="form-group">
                        <label for="office">Choose related office</label>
                        <select class="form-control" name="office" id="office">
                            {% for office in offices %}
                                <option value="{{ office.getId }}">{{ office.getTown }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        From
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" id="from" name="from"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        To
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" id="to" name="to"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="sick" id="sick">I am sick
                            </label>
                        </div>
                    </div>

                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">

                    <input type="submit" class="btn btn-primary" value="Create request">
                {% else %}
                    No offices registered yet. Please wait for admin to insert new offices.
                {% endif %}

            </form>

        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#datetimepicker1').datetimepicker({
                showTodayButton: true,
                showClose: true
            });
            $('#datetimepicker2').datetimepicker({
                showTodayButton: true,
                showClose: true
            });
        });

        function validateForm() {

            var from        = document.getElementById('from').value;
            var to          = document.getElementById('to').value;

            var _office     = document.getElementById('office');
            var office      = _office.options[_office.selectedIndex].value;

            var sick        = (document.getElementById('sick').checked) ? 'on' : '0';

            var csrfToken   = document.getElementById('csrf_token').value;

            if ((from.length < 3) || (to.length < 3)) {
                triggerError('error', "'From' and 'to' dates can't be empty !");
            } else if (false === isDate(from) || false === isDate(to)) {
                triggerError('error', "'From' and 'to' dates must be date type values !");
            } else {
                //Then we submit the form
                var params = new FormData();
                params.append('from', from);
                params.append('to', to);
                params.append('office', office);
                params.append('sick', sick);
                params.append('csrf_token', csrfToken);


                send('POST', '/booking/add', params);
            }
        }

    </script>
{% endblock %}
