{% extends "base/admin.html.twig" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Office edit
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/user">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Office
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">

            <form role="form" method="POST" action="/office/update">

                <div class="form-group">
                    <label for="town">Town</label>
                    <input type="text" class="form-control" value="{{ office.getTown }}"  id="town" name="town">
                </div>

                <input type="hidden" id="id" name="id" value="{{ office.getId }}">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">

                <input type="submit" class="btn btn-primary" value="Edit Town">

            </form>

        </div>
    </div>
    <!-- /.row -->
{% endblock %}
