{% extends "base/admin.html.twig" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                My work at home requests
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/user">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> My work-at-home requests
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">

            <div id="error" class="btn btn-danger" style="display:none;"></div>
            <div id="success" class="btn btn-success" style="display:none;"></div>

            <div class="table-responsive">
                {% if total > 0 %}
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Office</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.getOffice.getTown }}</td>
                                    <td>{{ booking.startsAt | date('Y-m-d H:i:s') }}</td>
                                    <td>{{ booking.endsAt | date('Y-m-d H:i:s') }}</td>

                                    {% if booking.status == '0' %}
                                        <td align="center">Waiting for approval</td>
                                    {% elseif booking.status == '1' %}
                                        <td align="center">Approved</td>
                                    {% elseif booking.status == '2' %}
                                        <td align="center">Rejected</td>
                                    {% elseif booking.status == '3' %}
                                        <td align="center">Cancelled</td>
                                    {% endif %}

                                    {% if booking.status == '0' %}
                                        <td align="center">
                                            <a onclick="sendMailForm({{ booking.id }}, '3');" class="btn btn-primary" >Cancel</a>
                                        </td>
                                    {% endif %}


                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No Bookings currently registered.
                {% endif %}

            </div>

            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">

            <div class="table-responsive">
                {{ paginator | raw }}
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function sendMailForm(bookingId, status) {

            var csrfToken           = document.getElementById('csrf_token').value;

            //Then we submit the form
            var params = new FormData();
            params.append('id', bookingId);
            params.append('status', status);
            params.append('csrf_token', csrfToken);

            send('POST', '/booking/edit', params);
        }
    </script>


{% endblock %}
