{% extends "base/admin.html.twig" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                List of all Work at home requests
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/user">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> work-at-home requests
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">

            <div class="table-responsive">

                <div id="error" class="btn btn-danger" style="display:none;"></div>
                <div id="success" class="btn btn-success" style="display:none;"></div>

                {% if total > 0 %}

                    <div class="form-group">
                        <label for="filter">Filter</label>
                        <select class="form-control" name="filter" id="filter" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                            <option value="/booking/list/1?filter=all" {{ (filter == 'all') ? 'selected': '' }}>All</option>
                            <option value="/booking/list/1?filter=0" {{ (filter == '0') ? 'selected': '' }}>Waiting approval only</option>
                            <option value="/booking/list/1?filter=1" {{ (filter == '1') ? 'selected': '' }}>Approved only</option>
                            <option value="/booking/list/1?filter=2" {{ (filter == '2') ? 'selected': '' }}>Rejected only</option>
                            <option value="/booking/list/1?filter=3" {{ (filter == '3') ? 'selected': '' }}>Canceled only</option>
                        </select>
                    </div>

                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User</th>
                                <th>Office</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.getUser.getLastName }} {{ booking.getUser.getFirstName }}</td>
                                    <td>{{ booking.getOffice.getTown }}</td>
                                    <td>{{ booking.startsAt | date('Y-m-d H:i:s') }}</td>
                                    <td>{{ booking.endsAt | date('Y-m-d H:i:s') }}</td>

                                    {% if booking.status == '0' %}
                                        <td align="center">Waiting for approval</td>
                                    {% elseif booking.status == '1' %}
                                        <td align="center">Approved</td>
                                    {% elseif booking.status == '2' %}
                                        <td align="center">Rejected</td>
                                    {% elseif booking.status == '3' %}
                                        <td align="center">Cancelled</td>
                                    {% endif %}

                                    {% if booking.status == '0' %}
                                        <td align="center">
                                            <a onclick="sendMailForm({{ booking.id }}, '1');" class="btn btn-primary" >Approve</a>
                                            <a onclick="sendMailForm({{ booking.id }}, '2');" class="btn btn-primary" >Reject</a>
                                        </td>
                                    {% endif %}


                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No Bookings currently registered.
                {% endif %}

                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">

            </div>

            <div class="table-responsive">
                {{ paginator | raw }}
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        function sendMailForm(bookingId, status) {

            var csrfToken           = document.getElementById('csrf_token').value;

            //Then we submit the form
            var params = new FormData();
            params.append('id', bookingId);
            params.append('status', status);
            params.append('csrf_token', csrfToken);

            send('POST', '/booking/edit', params);
        }
    </script>


{% endblock %}
