{% extends "base/admin.html.twig" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Create an office
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/user">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Create office
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">

            <form role="form" method="POST" action="/office/add" onsubmit="event.preventDefault(); validateForm();">

                <div id="error" class="btn btn-danger" style="display:none;"></div>
                <div id="success" class="btn btn-success" style="display:none;"></div>

                <div class="form-group">
                    <label for="town">Add the name of the town office (city)</label>
                    <input type="text" class="form-control" placeholder="Town..."  id="town" name="town">
                </div>

                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">

                <input type="submit" class="btn btn-primary" value="Create office">

            </form>

        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function validateForm() {

            var town                = document.getElementById('town').value;

            var csrfToken           = document.getElementById('csrf_token').value;

            if ((town.length === 0) || (town.length < 3)) {
                triggerError('error', "Town must contain at least 3 characters and can't be empty !");
            } else {
                //Then we submit the form
                var params = new FormData();
                params.append('town', town);
                params.append('csrf_token', csrfToken);


                send('POST', '/office/add', params);
            }
        }
    </script>


{% endblock %}
