{% extends "base/admin.html.twig" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                List of all offices
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/user">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Towns list
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                {% if total > 0 %}
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Town</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for town in offices %}
                                <tr>
                                    <td>{{ town.id }}</td>
                                    <td>{{ town.town }}</td>
                                    <td align="center"><a href="/office/edit/{{ town.id }}" class="btn btn-primary" >Edit</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No town currently registered.
                {% endif %}

            </div>

            <div class="table-responsive">
                {{ paginator | raw }}
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
