{% extends "base/mail_base.html.twig" %}

{% block message_title %}
    Your Blexr account has been created.
{% endblock %}

{% block message_content %}
    To confirm your account, please login with following credentials by clicking on the link below:
    <p>
        Email: {{ email }}
        <br/>
        Password: {{ password }}
    </p>
    <p>
        We invite you to change your password after logging in.
    </p>
{% endblock %}

{% block link %}
    <a style="color:#FFFFFF;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%;" href="{{ url }}" target="_blank">Confirm my Blexr account</a>
{% endblock %}