{% extends "base/mail_base.html.twig" %}

{% block message_title %}
    Hello {{ firstname }},
{% endblock %}

{% block message_content %}
    your work at home request has been <b>{{ (status == '1') ? 'Approved' : 'Rejected' }}</b>

    {% if status == '1' %}
        Congratulations, this is your request summary:
        <p>
            <b>You will work at home</b>
            <br/>
            From: {{ from | date('Y-m-d H:i:s') }}
            <br/>
            To: {{ to | date('Y-m-d H:i:s') }}
            <br/>
            At: Blexr {{ town }}
        </p>
    {% else %}
        <p>
            We are really sorry.
        </p>
    {% endif %}
    <p>
        Click below to access your Blexr account.
    </p>
{% endblock %}

{% block link %}
    <a style="color:#FFFFFF;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%;" href="{{ url }}" target="_blank">Go to Blexr</a>
{% endblock %}